In [9]:
from io import StringIO
import numpy as np
import pandas as pd

pd.read_csv(
    StringIO(
        """var1, var2
0,   0
0,   1
1,   3
-9,  0
0,   2
1,   7"""
    ),
    converters={"var1": lambda x: bool(int(x)) if x != "-9" else np.nan},
)

    var1   var2
0  False      0
1  False      1
2   True      3
3    NaN      0
4  False      2
5   True      7

In [10]:
df = pd.read_csv(
    StringIO(
        """var1,var2,boolean_var
0,   0, True
0,   1, true
1,   3, False
-9,  0, false
0,   2, FALSE
1,   7, """
    )
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   var1         6 non-null      int64
 1   var2         6 non-null      int64
 2   boolean_var  6 non-null      object
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

In [11]:
df

   var1  var2 boolean_var
0     0     0        True
1     0     1        true
2     1     3       False
3    -9     0       false
4     0     2       FALSE
5     1     7

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   var1         6 non-null      int64
 1   var2         6 non-null      int64
 2   boolean_var  6 non-null      object
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

In [13]:
df.dtypes

var1            int64
var2            int64
boolean_var    object
dtype: object

In [14]:
df["boolean_var"].astype("bool")

0    True
1    True
2    True
3    True
4    True
5    True
Name: boolean_var, dtype: bool

In [15]:
input = """item_id;brand;item_group_code;country;sequence;rank;comp_item_id;fy;dist;Z;price;variation;units;units_var;wgt;brand_comp;price_comp;P;Q;R;S;T;U;V;WW
1;X;gr35;DE;2615;1;21;1;0.5;A;1;1;100;1;0.4;E;1;1;100;1;0.4;4;0.2;1;True
2;X;gr35;DE;2614;100;24;1;0.2;A;-4;1;100;1;0.4;E;-4;1;100;1;0.4;4;0.2;1;True
3;X;gr35;DE;2615;4;25;1;0.1;A;-5;1;100;1;0.4;E;-5;1;100;1;0.4;4;0.5;1;True
4;X;gr35;DE;2615;4;28;1;0.7;A;4;1;100;1;0.4;E;4;1;100;1;0.4;4;0.5;1;True
5;X;gr35;DE;2615;5;29;1;0.444;A;5;1;100;1;0.4;E;5;1;100;1;0.4;4;1.2;1;True
6;X;gr35;DE;2615;7;31;1;0.789;A;7;1;100;1;0.4;E;7;1;100;1;0.4;4;1.2;1;True
7;X;gr35;DE;2615;8;32;1;0.234;A;8;1;100;1;0.4;E;8;1;100;1;0.4;4;1.5;1;True
8;X;gr35;DE;2615;10;34;1;0.234;A;10;1;100;1;0.4;E;10;1;100;1;0.4;4;1.5;1;True
10;X;gr35;DE;2615;2;22;1;0.234;B;2;1;100;1;0.4;E;2;1;100;1;0.4;4;0.2;1;True
11;X;gr35;DE;2615;2;26;1;0.234;C;0.9;1;100;1;0.4;E;0.9;1;100;1;0.4;4;0.5;1;True
12;X;gr35;DE;2615;6;30;1;0.234;C;6;1;100;1;0.4;E;6;1;100;1;0.4;4;1.2;1;false
13;X;gr35;DE;2615;9;33;1;0.789;C;9;1;100;1;0.4;E;9;1;100;1;0.4;4;1.5;1;False
14;X;gr35;DE;2615;-3;23;1;0.789;D;3;1;100;1;0.4;E;3;1;100;1;0.4;4;1.2;1;False
15;X;gr35;DE;2615;3;27;1;0.789;D;10000;1;100;1;0.4;E;10000;1;100;1;0.4;4;1.5;1;False
"""

In [16]:
df = pd.read_csv(StringIO(input), sep=";")

In [17]:
df

,item_id,brand,item_group_code,country,sequence,rank,comp_item_id,fy,dist,Z,...,brand_comp,price_comp,P,Q,R,S,T,U,V,WW
0,1,X,gr35,DE,2615,1,21,1,0.500,A,...,E,1.0,1,100,1,0.4,4,0.2,1,True
1,2,X,gr35,DE,2614,100,24,1,0.200,A,...,E,-4.0,1,100,1,0.4,4,0.2,1,True
2,3,X,gr35,DE,2615,4,25,1,0.100,A,...,E,-5.0,1,100,1,0.4,4,0.5,1,True
3,4,X,gr35,DE,2615,4,28,1,0.700,A,...,E,4.0,1,100,1,0.4,4,0.5,1,True
4,5,X,gr35,DE,2615,5,29,1,0.444,A,...,E,5.0,1,100,1,0.4,4,1.2,1,True
5,6,X,gr35,DE,2615,7,31,1,0.789,A,...,E,7.0,1,100,1,0.4,4,1.2,1,True
6,7,X,gr35,DE,2615,8,32,1,0.234,A,...,E,8.0,1,100,1,0.4,4,1.5,1,True
7,8,X,gr35,DE,2615,10,34,1,0.234,A,...,E,10.0,1,100,1,0.4,4,1.5,1,True
8,10,X,gr35,DE,2615,2,22,1,0.234,B,...,E,2.0,1,100,1,0.4,4,0.2,1,True
9,11,X,gr35,DE,2615,2,26,1,0.234,C,...,E,0.9,1,100,1,0.4,4,0.5,1,True
10,12,X,gr35,DE,2615,6,30,1,0.234,C,...,E,6.0,1,100,1,0.4,4,1.2,1,False
11,13,X,gr35,DE,2615,9,33,1,0.789,C,...,E,9.0,1,100,1,0.4,4,1.5,1,False
12,14,X,gr35,DE,2615,-3,23,1,0.789,D,...,E,3.0,1,100,1,0.4,4,1.2,1,False
13,15,X,gr35,DE,2615,3,27,1,0.789,D,...,E,10000.0,1,100,1,0.4,4,1.5,1,False

In [18]:
df2 = df[df["WW"]]
df2

,item_id,brand,item_group_code,country,sequence,rank,comp_item_id,fy,dist,Z,...,brand_comp,price_comp,P,Q,R,S,T,U,V,WW
0,1,X,gr35,DE,2615,1,21,1,0.500,A,...,E,1.0,1,100,1,0.4,4,0.2,1,True
1,2,X,gr35,DE,2614,100,24,1,0.200,A,...,E,-4.0,1,100,1,0.4,4,0.2,1,True
2,3,X,gr35,DE,2615,4,25,1,0.100,A,...,E,-5.0,1,100,1,0.4,4,0.5,1,True
3,4,X,gr35,DE,2615,4,28,1,0.700,A,...,E,4.0,1,100,1,0.4,4,0.5,1,True
4,5,X,gr35,DE,2615,5,29,1,0.444,A,...,E,5.0,1,100,1,0.4,4,1.2,1,True
5,6,X,gr35,DE,2615,7,31,1,0.789,A,...,E,7.0,1,100,1,0.4,4,1.2,1,True
6,7,X,gr35,DE,2615,8,32,1,0.234,A,...,E,8.0,1,100,1,0.4,4,1.5,1,True
7,8,X,gr35,DE,2615,10,34,1,0.234,A,...,E,10.0,1,100,1,0.4,4,1.5,1,True
8,10,X,gr35,DE,2615,2,22,1,0.234,B,...,E,2.0,1,100,1,0.4,4,0.2,1,True
9,11,X,gr35,DE,2615,2,26,1,0.234,C,...,E,0.9,1,100,1,0.4,4,0.5,1,True

In [19]:
df3 = df[df["WW"] == True]
df3

,item_id,brand,item_group_code,country,sequence,rank,comp_item_id,fy,dist,Z,...,brand_comp,price_comp,P,Q,R,S,T,U,V,WW
0,1,X,gr35,DE,2615,1,21,1,0.500,A,...,E,1.0,1,100,1,0.4,4,0.2,1,True
1,2,X,gr35,DE,2614,100,24,1,0.200,A,...,E,-4.0,1,100,1,0.4,4,0.2,1,True
2,3,X,gr35,DE,2615,4,25,1,0.100,A,...,E,-5.0,1,100,1,0.4,4,0.5,1,True
3,4,X,gr35,DE,2615,4,28,1,0.700,A,...,E,4.0,1,100,1,0.4,4,0.5,1,True
4,5,X,gr35,DE,2615,5,29,1,0.444,A,...,E,5.0,1,100,1,0.4,4,1.2,1,True
5,6,X,gr35,DE,2615,7,31,1,0.789,A,...,E,7.0,1,100,1,0.4,4,1.2,1,True
6,7,X,gr35,DE,2615,8,32,1,0.234,A,...,E,8.0,1,100,1,0.4,4,1.5,1,True
7,8,X,gr35,DE,2615,10,34,1,0.234,A,...,E,10.0,1,100,1,0.4,4,1.5,1,True
8,10,X,gr35,DE,2615,2,22,1,0.234,B,...,E,2.0,1,100,1,0.4,4,0.2,1,True
9,11,X,gr35,DE,2615,2,26,1,0.234,C,...,E,0.9,1,100,1,0.4,4,0.5,1,True